@use '../util' as u;
.nav-container {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    .nav {
        background-color: rgb(9, 36, 36);
        height: 100%;
        width: 80%;
        padding: u.rem(40);
        &__title-container {
            display: flex;
            justify-content: space-between;
        }
        &__title {
            margin: 0;
        }
        #menu-close-button {
            border: 0;
            background-color: rgb(9, 36, 36);
            color: white;
        }
        &__icon--x {
            transform: scale(2);
            align-self: center;
        }
    }
}
@media screen and (min-width: 768px) { 
    .nav-container {
    display: flex;
    position: static;
    .nav {
        width: 100%;
    }
    #menu-close-button {
        display: none;
    }
    }
}